/* Index page CSS */
body,
h1,
h2,
h3,
li,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background-color: rgb(20, 20, 20);
}

a {
  text-decoration: none ;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}


/* Top nav bar container */
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 153, 255);
  height: 5vh;
}
  #livestock_btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    transition: ease-out 0.3s;
    background-color: rgb(0, 153, 255);
  }
    #livestock_btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 153, 255);
      border: 3px solid
    }

  #water_btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    transition: ease-out 0.3s;
    background-color: rgb(0, 153, 255);
  }
    #water_btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 153, 255);
      border: 3px solid rgb(0, 153, 255);
    }

  #plants_btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    transition: ease-out 0.3s;
    background-color: rgb(0, 153, 255);
  }
    #plants_btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 153, 255);
      border: 3px solid rgb(0, 153, 255);
    }

  #coral_btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    transition: ease-out 0.3s;
    background-color: rgb(0, 153, 255);
  }
    #coral_btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 153, 255);
      border: 3px solid rgb(0, 153, 255);
    }

  #setup_btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;  
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    transition: ease-out 0.3s;
    background-color: rgb(0, 153, 255);
  }
    #setup_btn:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 153, 255);
      border: 3px solid rgb(0, 153, 255);
    }


/* Top left nav bar text */
.logo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

/* Nav bar buttons */
#nav-buttons{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  list-style: none;
  color: white;
  width: 60%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing-container{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 95vh;
  background-color: rgb(255, 255, 255);
  background-image: url(../Images/reef_background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(20, 20, 20);
  position: relative;

}

.landing-header {
  height: 6vh;
  color: black;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 19, 0.5);
  text-align: center;
  position: absolute;
  top: 0;
}

.landing-title{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  text-align: center;
}

.landing-footer {
  height: 6vh;
  color: black;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 19, 0.5);
  text-align: center;
  position: absolute;
  bottom: 0;
}

.subhead{
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.copyright {
  padding-left: 5em;
}

.legal {
  padding-right: 5em;
  text-align: right;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
  align-items: center;
  position:relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 153, 255);
  height: 5vh;
}
/* Livestock page CSS */

.livestock-container{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  background-image: url(../Images/lifestock.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-size: 100%;
  background-color: rgb(20, 20, 20);
  position: relative;
}

.livestock-header {
  height: 6vh;
  color: black;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 19, 0.5);
  text-align: center;
  position: absolute;
}

.livestock-title{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  text-align: center;
}

.livestock-subhead {
  color: white;
  text-align: center;
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  border: 1px solid hotpink;
  text-align: center;
}


/* Responsive sets */
@media (max-width: 1000px) {
  h1 {
    font-size: 1.5rem;
  }
}